/* body style */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
  }
  
  /* header style */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* footer style */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* image style */
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  
  /* h1 style */
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  /* p style */
  p {
    margin: 20px;
    text-align: justify;
    color: black;
  }
  
  /* link style */
  a {
    color: #333;
    text-decoration: none;
  }
  