body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 42px;
    font-weight: bold;
    margin-top: 0;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  .container {
    max-width: 800px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  